<div class="container">
  <form ng-submit='main.submitComplex(main.features)' method="post" class='form-horizontal'>
    <div class="col-md-12">
      <div class="row">
        <label for="posteamint">Team</label>
        <input ng-model='main.features.posteamint' class='form-control' type="number" name="posteamint" value="" id='posteamint'>
      </div>
      <div class="row">
        <label for="down">Down</label>
        <select ng-model='main.features.down' class="form-control" name="down" id='down'>
          <option value='1'>First</option>
          <option value='2'>Second</option>
          <option value='3'>Third</option>
          <option value='4'>Fourth</option>
        </select>
      </div>
      <div class="row">
        <label for="ydstogo">Distance</label>
        <select ng-model='main.features.ydstogo' class="form-control" name="ydstogo" id='ydstogo'>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
          <option value='10'>10+</option>
        </select>
      </div>
      <div class="row">
        <label for="yrdline100">Yard Line</label>
        <input ng-model='main.features.yrdline100' class='form-control' type="number" name="yrdline100" value="" id='yrdline100'>
      </div>
      <div class="row">
        <label for="ScoreDiff">Score Differential</label>
        <input ng-model='main.features.ScoreDiff' class='form-control' type="number" name="ScoreDiff" value="" id='ScoreDiff'>
      </div>
      <div class="row">
        <label for="TimeSecs">Time left in seconds</label>
        <input ng-model='main.features.TimeSecs' class='form-control' type="number" name="TimeSecs" value="" id='TimeSecs'>
      </div>
      <div class="row">
        <button type="submit" name="complex" class='btn btn-default'>Predict Play</button>
        <button ng-click='main.submitSimple(main.features)' type="button" name="simple" class='btn btn-default'>Predict Simple</button>
      </div>
    </form>
    <div class="row">
      <div ui-view='result'></div>
    </div>
  </div>
</div>
