<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ui-sref='main.select' class="md-icon-button" aria-label="Icon">
      <md-tooltip>Icon</md-tooltip>
      <img class="md-default-theme" ng-src="resources/bgs/eyelogo.png" style="width:48px;height:auto;"></img>
    </md-button>
    <h2>
      <span>playVision</span>
    </h2>
    <span flex></span>
    <md-button class='toggleNav' ng-show='nav.displayLoginButton' ng-show='!nav.isUser' ng-click='nav.toggleLogin()'>
      Login
    </md-button>
    <div class='currentUser' ng-show='nav.displayLogout'>
      <span>{{nav.user.email}}</span>
      <md-button class='logout'  ng-click='nav.logout()'>
        Logout
      </md-button>
    </div>
    <div layout='row' class='navLogin' ng-show='nav.displayLogin'>
      <form name='navForm' ng-submit='nav.login(nav.loginForm)'>
        <md-button class='navLoginButton' ng-click='nav.toggleLogin()'>
          Close
        </md-button>
        <md-input-container>
          <label>Email</label>
          <input ng-model='nav.loginForm.email' required type="text"/>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model='nav.loginForm.password' required type="password"/>
        </md-input-container>
        <div class='inline' ng-hide='nav.registering'>
          <md-button class='navLoginButton' type='submit' ng-disabled='nav.disabled'>
            Login
          </md-button>
          <span class='navOr'>-OR-</span>
          <md-button ng-click='nav.toggleRegister()' class='navLoginButton' type='button'>
            Register
          </md-button>
        </div>
        <div class='inline' ng-if='nav.registering'>
          <md-input-container>
            <label>Confirm Password</label>
            <input ng-model='nav.loginForm.confirmPassword' required type="confirmPassword"/>
          </md-input-container>
          <md-button class='navLoginButton' type='submit' ng-disabled='nav.disabled'>
            Register
          </md-button>
        </div>
      </form>
    </div>
  </div>
</md-toolbar>
