<div class='select'>
  <div flex layout-gt-sm='row' layout-sm='column'>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="sidenav">
      <ws-team-select></ws-team-select>
    </md-sidenav>

    <div class='inputdata' layout='column'>
      <md-content flex id='content'>
        <md-button ng-show='select.team' class='logos'>
          <md-tooltip>{{select.team}}</md-tooltip>
          <img ng-src='resources/logos/{{select.team}}.png' style="width:48px;height:auto;"/>
        </md-button>
        <md-button ng-click="select.toggle()"
        class="md-primary">
        {{select.team || 'Select a team'}}
        </md-button>
      </md-content>

      <div ng-if'select.error' class='error'>
        {{select.error}}
      </div>

      <form name='form' ng-submit='select.submit()'>
        <label class='md-body-2' for="down">Down</label>
        <md-radio-group name='down' ng-required='true' ng-model='select.features.down' id='down' layout='row'>
          <md-radio-button value='1' class="md-primary">First</md-radio-button>
          <md-radio-button value="2" class='md-primary'>Second</md-radio-button>
          <md-radio-button value="3" class='md-primary'>Third</md-radio-button>
          <md-radio-button value="4" class='md-primary'>Fourth</md-radio-button>
        </md-radio-group>
        <md-slider-container>
          <span class="md-body-2">Yards to go</span>
          <md-slider flex ng-model="select.features.ydstogo" min="1" max="10" aria-label="Yards to go" id="ydstogo" class="md-primary">
          </md-slider>
          <md-input-container>
            <input flex type="number" min='1', max='10' ng-model="select.features.ydstogo" aria-label="Yards to go" aria-controls="ydstogo">
          </md-input-container>
        </md-slider-container>
        <hr>
        <md-slider-container>
          <span class="md-body-2">Yard Line</span>
          <md-slider flex ng-model="select.features.yrdline100" min="1" max="99" aria-label="Yard Line" id="yrdline100" class="md-primary">
          </md-slider>
          <md-input-container>
            <input flex type="number" min='1', max='100' ng-model="select.features.yrdline100" aria-label="Yard Line" aria-controls="yrdline100">
          </md-input-container>
        </md-slider-container>
        <hr>
        <label class='md-body-2' for="winning">Score</label>
        <md-radio-group ng-model='select.winning' id='winning' layout='row'>
          <md-radio-button value='md-primary' class="md-primary">Winning</md-radio-button>
          <md-radio-button value="" class='md-primary'>Tied</md-radio-button>
          <md-radio-button value='md-warn' class='md-warn'>Losing</md-radio-button>
        </md-radio-group>
        <md-slider-container ng-show='select.winning'>
          <span class="md-body-2">By</span>
          <md-slider flex ng-model="select.score" min="1" max="21" aria-label="Score Diff" id="scorediff" class="{{select.winning}}">
          </md-slider>
          <md-input-container>
            <input flex type="number" min='1', max='21' ng-model="select.score" aria-label="Score Diff" aria-controls="scorediff">
          </md-input-container>
        </md-slider-container>
        <hr>
        <label class='md-body-2' for="quarter">Quarter</label>
        <md-radio-group ng-model='select.quarter' id='quarter' layout='row'>
          <md-radio-button value='3' class="md-primary">First</md-radio-button>
          <md-radio-button value="2" class='md-primary'>Second</md-radio-button>
          <md-radio-button value='1' class='md-primary'>Third</md-radio-button>
          <md-radio-button value='0' class='md-primary'>Fourth</md-radio-button>
        </md-radio-group>
        <md-slider-container>
          <span class="md-body-2">Minutes left</span>
          <md-slider flex ng-model="select.timeleft" min="1" max="15" aria-label="Minutes left in quarter" id="timeleft" class="md-primary">
          </md-slider>
          <md-input-container>
            <input flex type="number" min='1', max='15' ng-model="select.timeleft" aria-label="Minutes left in quarter" aria-controls="timeleft">
          </md-input-container>
        </md-slider-container>
        <hr>
        <md-button class='md-raised md-primary' type='submit'>{{select.complexity}}</md-button>
        <md-switch ng-click='select.switch()' class='inline pull-right' ng-model="select.adv" aria-label="Complexity Switch">
        </md-switch>
      </form>

    </div>
    <div flex layout='column'>
      <div ui-view='result'></div>
    </div>
  </div>
</div>
