  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Teams:</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-subheader class="md-primary">AFC North</md-subheader>
    <md-button ng-click="select.close('CIN')" class='logos'>
      <md-tooltip>Bengals</md-tooltip>
      <img src="resources/logos/CIN.gif" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('CLE')" class='logos'>
      <md-tooltip>Browns</md-tooltip>
      <img src="resources/logos/CLE.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('BAL')" class='logos'>
      <md-tooltip>Ravens</md-tooltip>
      <img src="resources/logos/BAL.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('PIT')" class='logos'>
      <md-tooltip>Steelers</md-tooltip>
      <img src="resources/logos/PIT.png" style="width:48px;height:auto;"/>
    </md-button>

    <md-subheader class="md-primary">AFC East</md-subheader>
    <md-button ng-click="select.close('BUF')" class='logos'>
      <md-tooltip>Bills</md-tooltip>
      <img src="resources/logos/BUF.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('MIA')" class='logos'>
      <md-tooltip>Dolphins</md-tooltip>
      <img src="resources/logos/MIA.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('NYJ')" class='logos'>
      <md-tooltip>Jets</md-tooltip>
      <img src="resources/logos/NYJ.gif" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('NE')" class='logos'>
      <md-tooltip>Patriots</md-tooltip>
      <img src="resources/logos/NE.gif" style="width:48px;height:auto;"/>
    </md-button>

    <md-subheader class="md-primary">AFC South</md-subheader>
    <md-button ng-click="select.close('IND')" class='logos'>
      <md-tooltip>Colts</md-tooltip>
      <img src="resources/logos/IND.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('JAX')" class='logos'>
      <md-tooltip>Jaguars</md-tooltip>
      <img src="resources/logos/JAX.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('HOU')" class='logos'>
      <md-tooltip>Texans</md-tooltip>
      <img src="resources/logos/HOU.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('TEN')" class='logos'>
      <md-tooltip>Titans</md-tooltip>
      <img src="resources/logos/TEN.png" style="width:48px;height:auto;"/>
    </md-button>

    <md-subheader class="md-primary">AFC West</md-subheader>
    <md-button ng-click="select.close('DEN')" class='logos'>
      <md-tooltip>Broncos</md-tooltip>
      <img src="resources/logos/DEN.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('SD')" class='logos'>
      <md-tooltip>Chargers</md-tooltip>
      <img src="resources/logos/SD.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('KC')" class='logos'>
      <md-tooltip>Chiefs</md-tooltip>
      <img src="resources/logos/KC.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('OAK')" class='logos'>
      <md-tooltip>Raiders</md-tooltip>
      <img src="resources/logos/OAK.gif" style="width:48px;height:auto;"/>
    </md-button>

    <md-subheader class="md-primary">NFC North</md-subheader>
    <md-button ng-click="select.close('CHI')" class='logos'>
      <md-tooltip>Bears</md-tooltip>
      <img src="resources/logos/CHI.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('DET')" class='logos'>
      <md-tooltip>Lions</md-tooltip>
      <img src="resources/logos/DET.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('GB')" class='logos'>
      <md-tooltip>Packers</md-tooltip>
      <img src="resources/logos/GB.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('MIN')" class='logos'>
      <md-tooltip>Vikings</md-tooltip>
      <img src="resources/logos/MIN.png" style="width:48px;height:auto;"/>
    </md-button>

    <md-subheader class="md-primary">NFC East</md-subheader>
    <md-button ng-click="select.close('DAL')" class='logos'>
      <md-tooltip>Cowboys</md-tooltip>
      <img src="resources/logos/DAL.gif" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('PHI')" class='logos'>
      <md-tooltip>Eagles</md-tooltip>
      <img src="resources/logos/PHI.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('NYG')" class='logos'>
      <md-tooltip>Giants</md-tooltip>
      <img src="resources/logos/NYG.gif" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('WAS')" class='logos'>
      <md-tooltip>Redskins</md-tooltip>
      <img src="resources/logos/WAS.gif" style="width:48px;height:auto;"/>
    </md-button>

    <md-subheader class="md-primary">NFC South</md-subheader>
    <md-button ng-click="select.close('TB')" class='logos'>
      <md-tooltip>Buccaneers</md-tooltip>
      <img src="resources/logos/TB.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('ATL')" class='logos'>
      <md-tooltip>Falcons</md-tooltip>
      <img src="resources/logos/ATL.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('CAR')" class='logos'>
      <md-tooltip>Panthers</md-tooltip>
      <img src="resources/logos/CAR.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('NO')" class='logos'>
      <md-tooltip>Saints</md-tooltip>
      <img src="resources/logos/NO.gif" style="width:48px;height:auto;"/>
    </md-button>

    <md-subheader class="md-primary">NFC West</md-subheader>
    <md-button ng-click="select.close('ARI')" class='logos'>
      <md-tooltip>Cardinals</md-tooltip>
      <img src="resources/logos/ARI.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('SF')" class='logos'>
      <md-tooltip>49ers</md-tooltip>
      <img src="resources/logos/SF.gif" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('LA')" class='logos'>
      <md-tooltip>Rams</md-tooltip>
      <img src="resources/logos/LA.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close('SEA')" class='logos'>
      <md-tooltip>Seahawks</md-tooltip>
      <img src="resources/logos/SEA.png" style="width:48px;height:auto;"/>
    </md-button>
    <md-button ng-click="select.close()" class="md-primary">
      Close
    </md-button>
  </md-content>
