.logos:hover {
  background-color: inherit !important;
}

.inputdata {
  padding: 20px;
}

.md-default.md-checked {
  color: lightgrey;
}

.inline {
  display: inline;
}

md-progress-circular {
  margin-top: 200px;
  margin-bottom: 200px;
}
